.card {
    width: 110px;
    height: 110px;
    background-color: #0A1D37;
    margin: 2px;
    transition: .3s;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
        user-select: none;
        pointer-events: none;
    }
    &:hover {
        box-shadow: 2px 2px #000;
    }
}